Study/WebServiceClientAnt/wsdl/PerfectSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.nomad.svmint.com"
	xmlns:impl="http://service.nomad.svmint.com" xmlns:intf="http://service.nomad.svmint.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://service.nomad.svmint.com" elementFormDefault="qualified">
			<element name="rtv_avail">
				<complexType>
					<sequence>
						<element name="Logon" type="impl:User" />
						<element name="In" type="impl:Avail" />
					</sequence>
				</complexType>
			</element>
			<complexType name="User">
				<sequence>
					<element name="action" nillable="true" type="xsd:string" />
					<element name="id" nillable="true" type="xsd:string" />
					<element name="name" nillable="true" type="xsd:string" />
					<element name="password" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Avail">
				<sequence>
					<element name="actIdActivity" nillable="true" type="xsd:string" />
					<element name="searchActAmt" nillable="true" type="xsd:string" />
					<element name="searchAddress1" nillable="true" type="xsd:string" />
					<element name="searchBranch" nillable="true" type="xsd:string" />
					<element name="searchBusName" nillable="true" type="xsd:string" />
					<element name="searchCity" nillable="true" type="xsd:string" />
					<element name="searchCountry" nillable="true" type="xsd:string" />
					<element name="searchDspFrmDate" nillable="true" type="xsd:string" />
					<element name="searchDspFrmTime" nillable="true" type="xsd:string" />
					<element name="searchDspToDate" nillable="true" type="xsd:string" />
					<element name="searchDspToTime" nillable="true" type="xsd:string" />
					<element name="searchDuration" nillable="true" type="xsd:string" />
					<element name="searchFirstName" nillable="true" type="xsd:string" />
					<element name="searchFreqUom" nillable="true" type="xsd:string" />
					<element name="searchItemCode" nillable="true" type="xsd:string" />
					<element name="searchLastName" nillable="true" type="xsd:string" />
					<element name="searchLat" nillable="true" type="xsd:string" />
					<element name="searchLinDim" nillable="true" type="xsd:string" />
					<element name="searchLong" nillable="true" type="xsd:string" />
					<element name="searchMiddleName" nillable="true" type="xsd:string" />
					<element name="searchPhone" nillable="true" type="xsd:string" />
					<element name="searchPhoneArea" nillable="true" type="xsd:string" />
					<element name="searchPostalCode" nillable="true" type="xsd:string" />
					<element name="searchSITCode" nillable="true" type="xsd:string" />
					<element name="searchSchDate" nillable="true" type="xsd:string" />
					<element name="searchSchEmpNum" nillable="true" type="xsd:string" />
					<element name="searchSchFrmTime" nillable="true" type="xsd:string" />
					<element name="searchSchToTime" nillable="true" type="xsd:string" />
					<element name="searchState" nillable="true" type="xsd:string" />
					<element name="searchStrucType" nillable="true" type="xsd:string" />
					<element name="searchSvcFrmDate" nillable="true" type="xsd:string" />
					<element name="searchSvcLine" nillable="true" type="xsd:string" />
					<element name="searchSvcToDate" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="rtv_availResponse">
				<complexType>
					<sequence>
						<element name="rtv_availReturn" type="impl:AvailReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="AvailList">
				<sequence>
					<element name="schDate" nillable="true" type="xsd:string" />
					<element name="schEmpNum" nillable="true" type="xsd:string" />
					<element name="schFrmTime" nillable="true" type="xsd:string" />
					<element name="schToTime" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfAvailList">
				<sequence>
					<element name="item" type="impl:AvailList" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
			<complexType name="Messages">
				<sequence>
					<element name="message" nillable="true" type="xsd:string" />
					<element name="messageCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfMessages">
				<sequence>
					<element name="item" type="impl:Messages" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
			<complexType name="AvailOut">
				<sequence>
					<element name="availList" nillable="true" type="impl:ArrayOfAvailList" />
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="retCode" nillable="true" type="xsd:string" />
					<element name="searchLat" nillable="true" type="xsd:string" />
					<element name="searchLong" nillable="true" type="xsd:string" />
					<element name="svcLocAdrSID" type="xsd:int" />
					<element name="svcLocPtyId" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType name="AvailReturn">
				<sequence>
					<element name="availOut" nillable="true" type="impl:AvailOut" />
				</sequence>
			</complexType>
			<element name="sched_service">
				<complexType>
					<sequence>
						<element name="Logon" type="impl:User" />
						<element name="In" type="impl:Avail" />
					</sequence>
				</complexType>
			</element>
			<element name="sched_serviceResponse">
				<complexType>
					<sequence>
						<element name="sched_serviceReturn" type="impl:AvailReturn" />
					</sequence>
				</complexType>
			</element>
			<element name="cancel_service">
				<complexType>
					<sequence>
						<element name="Logon" type="impl:User" />
						<element name="In" type="impl:Apt" />
					</sequence>
				</complexType>
			</element>
			<complexType name="Apt">
				<sequence>
					<element name="svcLocAdrSID" nillable="true" type="xsd:string" />
					<element name="svcLocPtyId" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="cancel_serviceResponse">
				<complexType>
					<sequence>
						<element name="cancel_serviceReturn" type="impl:AptReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="AptOut">
				<sequence>
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="retCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="AptReturn">
				<sequence>
					<element name="aptOut" nillable="true" type="impl:AptOut" />
				</sequence>
			</complexType>
			<element name="cust_followup_req">
				<complexType>
					<sequence>
						<element name="logon" type="impl:User" />
						<element name="Notes" type="impl:Notes" maxOccurs="unbounded" />
						<element name="In" type="impl:Cfr" />
					</sequence>
				</complexType>
			</element>
			<complexType name="Notes">
				<sequence>
					<element name="note" nillable="true" type="xsd:string" />
					<element name="noteBunit" nillable="true" type="xsd:string" />
					<element name="noteDate" type="xsd:int" />
					<element name="noteTime" type="xsd:int" />
					<element name="noteType" nillable="true" type="xsd:string" />
					<element name="noteUser" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="AsnSched">
				<sequence>
					<element name="assignedTeritry" nillable="true" type="xsd:string" />
					<element name="assignedTeritryEmp" nillable="true" type="xsd:string" />
					<element name="schedFrmDate" nillable="true" type="xsd:string" />
					<element name="schedFrmTime" nillable="true" type="xsd:string" />
					<element name="schedFrmTimeInd" nillable="true" type="xsd:string" />
					<element name="schedToTime" nillable="true" type="xsd:string" />
					<element name="schedToTimeInd" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="Cfr">
				<sequence>
					<element name="actId" nillable="true" type="xsd:string" />
					<element name="asnSched" nillable="true" type="impl:AsnSched" />
					<element name="cfrFlg" nillable="true" type="xsd:string" />
					<element name="noteType" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="cust_followup_reqResponse">
				<complexType>
					<sequence>
						<element name="cust_followup_reqReturn" type="impl:CfrReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CfrOut">
				<sequence>
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="retCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="CfrReturn">
				<sequence>
					<element name="cfrOut" nillable="true" type="impl:CfrOut" />
				</sequence>
			</complexType>
			<element name="create_email">
				<complexType>
					<sequence>
						<element name="logon" type="impl:User" />
						<element name="In" type="impl:Email" />
					</sequence>
				</complexType>
			</element>
			<complexType name="Email">
				<sequence>
					<element name="emlAddr" nillable="true" type="xsd:string" />
					<element name="emlContactMethod" nillable="true" type="xsd:string" />
					<element name="emlPwd" nillable="true" type="xsd:string" />
					<element name="emlSeq" nillable="true" type="xsd:string" />
					<element name="emlSid" nillable="true" type="xsd:string" />
					<element name="emlType" nillable="true" type="xsd:string" />
					<element name="ptyId" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="create_emailResponse">
				<complexType>
					<sequence>
						<element name="create_emailReturn" type="impl:EmailReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOfEmail">
				<sequence>
					<element name="item" type="impl:Email" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
			<complexType name="EmailOut">
				<sequence>
					<element name="emailList" nillable="true" type="impl:ArrayOfEmail" />
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="retCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="EmailReturn">
				<sequence>
					<element name="emailOut" nillable="true" type="impl:EmailOut" />
				</sequence>
			</complexType>
			<element name="view_notes">
				<complexType>
					<sequence>
						<element name="logon" type="impl:User" />
						<element name="In" type="impl:ActId" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ActId">
				<sequence>
					<element name="actId" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="view_notesResponse">
				<complexType>
					<sequence>
						<element name="view_notesReturn" type="impl:NotesReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOfNotes">
				<sequence>
					<element name="item" type="impl:Notes" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
			<complexType name="NotesOut">
				<sequence>
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="notes" nillable="true" type="impl:ArrayOfNotes" />
					<element name="retCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="NotesReturn">
				<sequence>
					<element name="notesOut" nillable="true" type="impl:NotesOut" />
				</sequence>
			</complexType>
			<element name="rtv_sched_appts">
				<complexType>
					<sequence>
						<element name="logon" type="impl:User" />
						<element name="In" type="impl:CustNum" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CustNum">
				<sequence>
					<element name="cusNum" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="rtv_sched_apptsResponse">
				<complexType>
					<sequence>
						<element name="rtv_sched_apptsReturn" type="impl:SchedApptReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="SchedApptList">
				<sequence>
					<element name="schAddress1" nillable="true" type="xsd:string" />
					<element name="schAssignedEmp" nillable="true" type="xsd:string" />
					<element name="schBranchPhone" nillable="true" type="xsd:string" />
					<element name="schBusUnit" nillable="true" type="xsd:string" />
					<element name="schCity" nillable="true" type="xsd:string" />
					<element name="schCountry" nillable="true" type="xsd:string" />
					<element name="schDate" nillable="true" type="xsd:string" />
					<element name="schDuration" nillable="true" type="xsd:string" />
					<element name="schFrmTime" nillable="true" type="xsd:string" />
					<element name="schItmCode" nillable="true" type="xsd:string" />
					<element name="schLat" nillable="true" type="xsd:string" />
					<element name="schLong" nillable="true" type="xsd:string" />
					<element name="schPhone" nillable="true" type="xsd:string" />
					<element name="schPhoneArea" nillable="true" type="xsd:string" />
					<element name="schPostalCode" nillable="true" type="xsd:string" />
					<element name="schRSBranchFlg" nillable="true" type="xsd:string" />
					<element name="schSitCode" nillable="true" type="xsd:string" />
					<element name="schSrvcDesc" nillable="true" type="xsd:string" />
					<element name="schSrvcWinFrmDate" nillable="true" type="xsd:string" />
					<element name="schSrvcWinToDate" nillable="true" type="xsd:string" />
					<element name="schState" nillable="true" type="xsd:string" />
					<element name="schToTime" nillable="true" type="xsd:string" />
					<element name="schType" nillable="true" type="xsd:string" />
					<element name="schWorkOrderId" nillable="true" type="xsd:string" />
					<element name="schSalesAgreementNumber" nillable="true"
						type="xsd:string" />
					<element name="schZipCode" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="ArrayOfSchedApptList">
				<sequence>
					<element name="item" type="impl:SchedApptList" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
			<complexType name="SchedApptOut">
				<sequence>
					<element name="messages" nillable="true" type="impl:ArrayOfMessages" />
					<element name="retCode" nillable="true" type="xsd:string" />
					<element name="schedApptList" nillable="true"
						type="impl:ArrayOfSchedApptList" />
				</sequence>
			</complexType>
			<complexType name="SchedApptReturn">
				<sequence>
					<element name="schedApptOut" nillable="true" type="impl:SchedApptOut" />
				</sequence>
			</complexType>
			<element name="sched_activity">
				<complexType>
					<sequence>
						<element name="Logon" type="impl:User" />
						<element name="In" type="impl:Schedule" />
					</sequence>
				</complexType>
			</element>
			<complexType name="Schedule">
				<sequence>
					<element name="actid" nillable="true" type="xsd:string" />
					<element name="schDate" nillable="true" type="xsd:string" />
					<element name="schEmpNum" nillable="true" type="xsd:string" />
					<element name="schFrmTime" nillable="true" type="xsd:string" />
					<element name="schToTime" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="sched_activityResponse">
				<complexType>
					<sequence>
						<element name="sched_activityReturn" type="impl:AptReturn" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="sched_serviceResponse">
		<wsdl:part name="parameters" element="impl:sched_serviceResponse" />
	</wsdl:message>
	<wsdl:message name="rtv_availResponse">
		<wsdl:part name="parameters" element="impl:rtv_availResponse" />
	</wsdl:message>
	<wsdl:message name="sched_serviceRequest">
		<wsdl:part name="parameters" element="impl:sched_service" />
	</wsdl:message>
	<wsdl:message name="view_notesRequest">
		<wsdl:part name="parameters" element="impl:view_notes" />
	</wsdl:message>
	<wsdl:message name="create_emailRequest">
		<wsdl:part name="parameters" element="impl:create_email" />
	</wsdl:message>
	<wsdl:message name="rtv_sched_apptsResponse">
		<wsdl:part name="parameters" element="impl:rtv_sched_apptsResponse" />
	</wsdl:message>
	<wsdl:message name="cust_followup_reqRequest">
		<wsdl:part name="parameters" element="impl:cust_followup_req" />
	</wsdl:message>
	<wsdl:message name="rtv_sched_apptsRequest">
		<wsdl:part name="parameters" element="impl:rtv_sched_appts" />
	</wsdl:message>
	<wsdl:message name="create_emailResponse">
		<wsdl:part name="parameters" element="impl:create_emailResponse" />
	</wsdl:message>
	<wsdl:message name="sched_activityRequest">
		<wsdl:part name="parameters" element="impl:sched_activity" />
	</wsdl:message>
	<wsdl:message name="view_notesResponse">
		<wsdl:part name="parameters" element="impl:view_notesResponse" />
	</wsdl:message>
	<wsdl:message name="cust_followup_reqResponse">
		<wsdl:part name="parameters" element="impl:cust_followup_reqResponse" />
	</wsdl:message>
	<wsdl:message name="rtv_availRequest">
		<wsdl:part name="parameters" element="impl:rtv_avail" />
	</wsdl:message>
	<wsdl:message name="cancel_serviceResponse">
		<wsdl:part name="parameters" element="impl:cancel_serviceResponse" />
	</wsdl:message>
	<wsdl:message name="sched_activityResponse">
		<wsdl:part name="parameters" element="impl:sched_activityResponse" />
	</wsdl:message>
	<wsdl:message name="cancel_serviceRequest">
		<wsdl:part name="parameters" element="impl:cancel_service" />
	</wsdl:message>
	<wsdl:portType name="ServiceServicePortType">
		<wsdl:operation name="rtv_avail">
			<wsdl:input name="rtv_availRequest" message="impl:rtv_availRequest" />
			<wsdl:output name="rtv_availResponse" message="impl:rtv_availResponse" />
		</wsdl:operation>
		<wsdl:operation name="sched_service">
			<wsdl:input name="sched_serviceRequest" message="impl:sched_serviceRequest" />
			<wsdl:output name="sched_serviceResponse" message="impl:sched_serviceResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancel_service">
			<wsdl:input name="cancel_serviceRequest" message="impl:cancel_serviceRequest" />
			<wsdl:output name="cancel_serviceResponse" message="impl:cancel_serviceResponse" />
		</wsdl:operation>
		<wsdl:operation name="cust_followup_req">
			<wsdl:input name="cust_followup_reqRequest" message="impl:cust_followup_reqRequest" />
			<wsdl:output name="cust_followup_reqResponse" message="impl:cust_followup_reqResponse" />
		</wsdl:operation>
		<wsdl:operation name="create_email">
			<wsdl:input name="create_emailRequest" message="impl:create_emailRequest" />
			<wsdl:output name="create_emailResponse" message="impl:create_emailResponse" />
		</wsdl:operation>
		<wsdl:operation name="view_notes">
			<wsdl:input name="view_notesRequest" message="impl:view_notesRequest" />
			<wsdl:output name="view_notesResponse" message="impl:view_notesResponse" />
		</wsdl:operation>
		<wsdl:operation name="rtv_sched_appts">
			<wsdl:input name="rtv_sched_apptsRequest" message="impl:rtv_sched_apptsRequest" />
			<wsdl:output name="rtv_sched_apptsResponse" message="impl:rtv_sched_apptsResponse" />
		</wsdl:operation>
		<wsdl:operation name="sched_activity">
			<wsdl:input name="sched_activityRequest" message="impl:sched_activityRequest" />
			<wsdl:output name="sched_activityResponse" message="impl:sched_activityResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceServiceBinding" type="impl:ServiceServicePortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="rtv_avail">
			<wsdlsoap:operation soapAction="rtv_avail" />
			<wsdl:input name="rtv_availRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="rtv_availResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sched_service">
			<wsdlsoap:operation soapAction="sched_service" />
			<wsdl:input name="sched_serviceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sched_serviceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancel_service">
			<wsdlsoap:operation soapAction="cancel_service" />
			<wsdl:input name="cancel_serviceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancel_serviceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cust_followup_req">
			<wsdlsoap:operation soapAction="cust_followup_req" />
			<wsdl:input name="cust_followup_reqRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cust_followup_reqResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="create_email">
			<wsdlsoap:operation soapAction="create_email" />
			<wsdl:input name="create_emailRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="create_emailResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="view_notes">
			<wsdlsoap:operation soapAction="view_notes" />
			<wsdl:input name="view_notesRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="view_notesResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rtv_sched_appts">
			<wsdlsoap:operation soapAction="rtv_sched_appts" />
			<wsdl:input name="rtv_sched_apptsRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="rtv_sched_apptsResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sched_activity">
			<wsdlsoap:operation soapAction="sched_activity" />
			<wsdl:input name="sched_activityRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sched_activityResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceServiceService">
		<wsdl:port name="ServiceServicePort" binding="impl:ServiceServiceBinding">
			<wsdlsoap:address
				location="https://nomad.svmint.com/cgi-bin/jsmdirect?dev_service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>