WebClientAnt/src/com/svmint/nomad/service/RescheduleService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://service.nomad.svmint.com" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://service.nomad.svmint.com" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://service.nomad.svmint.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.nomad.svmint.com" xmlns:intf="http://service.nomad.svmint.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="rtv_avail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Logon" type="impl:User"/>
            <xsd:element name="In" type="impl:Avail"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="action" nillable="true" type="xsd:string"/>
          <xsd:element name="id" nillable="true" type="xsd:string"/>
          <xsd:element name="name" nillable="true" type="xsd:string"/>
          <xsd:element name="password" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Avail">
        <xsd:sequence>
          <xsd:element name="actIdActivity" nillable="true" type="xsd:string"/>
          <xsd:element name="searchActAmt" nillable="true" type="xsd:string"/>
          <xsd:element name="searchAddress1" nillable="true" type="xsd:string"/>
          <xsd:element name="searchBranch" nillable="true" type="xsd:string"/>
          <xsd:element name="searchBusName" nillable="true" type="xsd:string"/>
          <xsd:element name="searchCity" nillable="true" type="xsd:string"/>
          <xsd:element name="searchCountry" nillable="true" type="xsd:string"/>
          <xsd:element name="searchDspFrmDate" nillable="true" type="xsd:string"/>
          <xsd:element name="searchDspFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="searchDspToDate" nillable="true" type="xsd:string"/>
          <xsd:element name="searchDspToTime" nillable="true" type="xsd:string"/>
          <xsd:element name="searchDuration" nillable="true" type="xsd:string"/>
          <xsd:element name="searchFirstName" nillable="true" type="xsd:string"/>
          <xsd:element name="searchFreqUom" nillable="true" type="xsd:string"/>
          <xsd:element name="searchItemCode" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLastName" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLat" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLinDim" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLong" nillable="true" type="xsd:string"/>
          <xsd:element name="searchMiddleName" nillable="true" type="xsd:string"/>
          <xsd:element name="searchPhone" nillable="true" type="xsd:string"/>
          <xsd:element name="searchPhoneArea" nillable="true" type="xsd:string"/>
          <xsd:element name="searchPostalCode" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSITCode" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSchDate" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSchEmpNum" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSchFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSchToTime" nillable="true" type="xsd:string"/>
          <xsd:element name="searchState" nillable="true" type="xsd:string"/>
          <xsd:element name="searchStrucType" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSvcFrmDate" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSvcLine" nillable="true" type="xsd:string"/>
          <xsd:element name="searchSvcToDate" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rtv_availResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rtv_availReturn" type="impl:AvailReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AvailList">
        <xsd:sequence>
          <xsd:element name="schDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schEmpNum" nillable="true" type="xsd:string"/>
          <xsd:element name="schFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schToTime" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAvailList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:AvailList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Messages">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string"/>
          <xsd:element name="messageCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessages">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Messages"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AvailOut">
        <xsd:sequence>
          <xsd:element name="availList" nillable="true" type="impl:ArrayOfAvailList"/>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLat" nillable="true" type="xsd:string"/>
          <xsd:element name="searchLong" nillable="true" type="xsd:string"/>
          <xsd:element name="svcLocAdrSID" type="xsd:int"/>
          <xsd:element name="svcLocPtyId" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AvailReturn">
        <xsd:sequence>
          <xsd:element name="availOut" nillable="true" type="impl:AvailOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sched_service">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Logon" type="impl:User"/>
            <xsd:element name="In" type="impl:Avail"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sched_serviceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sched_serviceReturn" type="impl:AvailReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancel_service">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Logon" type="impl:User"/>
            <xsd:element name="In" type="impl:Apt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Apt">
        <xsd:sequence>
          <xsd:element name="svcLocAdrSID" nillable="true" type="xsd:string"/>
          <xsd:element name="svcLocPtyId" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancel_serviceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancel_serviceReturn" type="impl:AptReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AptOut">
        <xsd:sequence>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AptReturn">
        <xsd:sequence>
          <xsd:element name="aptOut" nillable="true" type="impl:AptOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cust_followup_req">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="logon" type="impl:User"/>
            <xsd:element maxOccurs="unbounded" name="Notes" type="impl:Notes"/>
            <xsd:element name="In" type="impl:Cfr"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Notes">
        <xsd:sequence>
          <xsd:element name="note" nillable="true" type="xsd:string"/>
          <xsd:element name="noteBunit" nillable="true" type="xsd:string"/>
          <xsd:element name="noteDate" type="xsd:int"/>
          <xsd:element name="noteTime" type="xsd:int"/>
          <xsd:element name="noteType" nillable="true" type="xsd:string"/>
          <xsd:element name="noteUser" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AsnSched">
        <xsd:sequence>
          <xsd:element name="assignedTeritry" nillable="true" type="xsd:string"/>
          <xsd:element name="assignedTeritryEmp" nillable="true" type="xsd:string"/>
          <xsd:element name="schedFrmDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schedFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schedFrmTimeInd" nillable="true" type="xsd:string"/>
          <xsd:element name="schedToTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schedToTimeInd" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cfr">
        <xsd:sequence>
          <xsd:element name="actId" nillable="true" type="xsd:string"/>
          <xsd:element name="asnSched" nillable="true" type="impl:AsnSched"/>
          <xsd:element name="cfrFlg" nillable="true" type="xsd:string"/>
          <xsd:element name="noteType" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cust_followup_reqResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cust_followup_reqReturn" type="impl:CfrReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CfrOut">
        <xsd:sequence>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CfrReturn">
        <xsd:sequence>
          <xsd:element name="cfrOut" nillable="true" type="impl:CfrOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="create_email">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="logon" type="impl:User"/>
            <xsd:element name="In" type="impl:Email"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Email">
        <xsd:sequence>
          <xsd:element name="emlAddr" nillable="true" type="xsd:string"/>
          <xsd:element name="emlContactMethod" nillable="true" type="xsd:string"/>
          <xsd:element name="emlPwd" nillable="true" type="xsd:string"/>
          <xsd:element name="emlSeq" nillable="true" type="xsd:string"/>
          <xsd:element name="emlSid" nillable="true" type="xsd:string"/>
          <xsd:element name="emlType" nillable="true" type="xsd:string"/>
          <xsd:element name="ptyId" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="create_emailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="create_emailReturn" type="impl:EmailReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfEmail">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Email"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmailOut">
        <xsd:sequence>
          <xsd:element name="emailList" nillable="true" type="impl:ArrayOfEmail"/>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmailReturn">
        <xsd:sequence>
          <xsd:element name="emailOut" nillable="true" type="impl:EmailOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="view_notes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="logon" type="impl:User"/>
            <xsd:element name="In" type="impl:ActId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ActId">
        <xsd:sequence>
          <xsd:element name="actId" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="view_notesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="view_notesReturn" type="impl:NotesReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfNotes">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Notes"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotesOut">
        <xsd:sequence>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="notes" nillable="true" type="impl:ArrayOfNotes"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotesReturn">
        <xsd:sequence>
          <xsd:element name="notesOut" nillable="true" type="impl:NotesOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rtv_sched_appts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="logon" type="impl:User"/>
            <xsd:element name="In" type="impl:CustNum"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CustNum">
        <xsd:sequence>
          <xsd:element name="cusNum" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rtv_sched_apptsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rtv_sched_apptsReturn" type="impl:SchedApptReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SchedApptList">
        <xsd:sequence>
          <xsd:element name="schAddress1" nillable="true" type="xsd:string"/>
          <xsd:element name="schAssignedEmp" nillable="true" type="xsd:string"/>
          <xsd:element name="schBranchPhone" nillable="true" type="xsd:string"/>
          <xsd:element name="schBusUnit" nillable="true" type="xsd:string"/>
          <xsd:element name="schCity" nillable="true" type="xsd:string"/>
          <xsd:element name="schCountry" nillable="true" type="xsd:string"/>
          <xsd:element name="schDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schDuration" nillable="true" type="xsd:string"/>
          <xsd:element name="schFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schItmCode" nillable="true" type="xsd:string"/>
          <xsd:element name="schLat" nillable="true" type="xsd:string"/>
          <xsd:element name="schLong" nillable="true" type="xsd:string"/>
          <xsd:element name="schPhone" nillable="true" type="xsd:string"/>
          <xsd:element name="schPhoneArea" nillable="true" type="xsd:string"/>
          <xsd:element name="schPostalCode" nillable="true" type="xsd:string"/>
          <xsd:element name="schRSBranchFlg" nillable="true" type="xsd:string"/>
          <xsd:element name="schSitCode" nillable="true" type="xsd:string"/>
          <xsd:element name="schSrvcDesc" nillable="true" type="xsd:string"/>
          <xsd:element name="schSrvcWinFrmDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schSrvcWinToDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schState" nillable="true" type="xsd:string"/>
          <xsd:element name="schToTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schType" nillable="true" type="xsd:string"/>
          <xsd:element name="schWorkOrderId" nillable="true" type="xsd:string"/>
          <xsd:element name="schSalesAgreementNumber" nillable="true" type="xsd:string"/>
          <xsd:element name="schZipCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSchedApptList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:SchedApptList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SchedApptOut">
        <xsd:sequence>
          <xsd:element name="messages" nillable="true" type="impl:ArrayOfMessages"/>
          <xsd:element name="retCode" nillable="true" type="xsd:string"/>
          <xsd:element name="schedApptList" nillable="true" type="impl:ArrayOfSchedApptList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SchedApptReturn">
        <xsd:sequence>
          <xsd:element name="schedApptOut" nillable="true" type="impl:SchedApptOut"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sched_activity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Logon" type="impl:User"/>
            <xsd:element name="In" type="impl:Schedule"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Schedule">
        <xsd:sequence>
          <xsd:element name="actid" nillable="true" type="xsd:string"/>
          <xsd:element name="schDate" nillable="true" type="xsd:string"/>
          <xsd:element name="schEmpNum" nillable="true" type="xsd:string"/>
          <xsd:element name="schFrmTime" nillable="true" type="xsd:string"/>
          <xsd:element name="schToTime" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sched_activityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sched_activityReturn" type="impl:AptReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="sched_serviceResponse">
    <WL5G3N0:part element="WL5G3N1:sched_serviceResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="rtv_availResponse">
    <WL5G3N0:part element="WL5G3N1:rtv_availResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="sched_serviceRequest">
    <WL5G3N0:part element="WL5G3N1:sched_service" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="view_notesRequest">
    <WL5G3N0:part element="WL5G3N1:view_notes" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="create_emailRequest">
    <WL5G3N0:part element="WL5G3N1:create_email" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="rtv_sched_apptsResponse">
    <WL5G3N0:part element="WL5G3N1:rtv_sched_apptsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cust_followup_reqRequest">
    <WL5G3N0:part element="WL5G3N1:cust_followup_req" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="rtv_sched_apptsRequest">
    <WL5G3N0:part element="WL5G3N1:rtv_sched_appts" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="create_emailResponse">
    <WL5G3N0:part element="WL5G3N1:create_emailResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="sched_activityRequest">
    <WL5G3N0:part element="WL5G3N1:sched_activity" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="view_notesResponse">
    <WL5G3N0:part element="WL5G3N1:view_notesResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cust_followup_reqResponse">
    <WL5G3N0:part element="WL5G3N1:cust_followup_reqResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="rtv_availRequest">
    <WL5G3N0:part element="WL5G3N1:rtv_avail" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cancel_serviceResponse">
    <WL5G3N0:part element="WL5G3N1:cancel_serviceResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="sched_activityResponse">
    <WL5G3N0:part element="WL5G3N1:sched_activityResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cancel_serviceRequest">
    <WL5G3N0:part element="WL5G3N1:cancel_service" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ServiceServicePortType">
    <WL5G3N0:operation name="rtv_avail">
      <WL5G3N0:input message="WL5G3N1:rtv_availRequest" name="rtv_availRequest"/>
      <WL5G3N0:output message="WL5G3N1:rtv_availResponse" name="rtv_availResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="sched_service">
      <WL5G3N0:input message="WL5G3N1:sched_serviceRequest" name="sched_serviceRequest"/>
      <WL5G3N0:output message="WL5G3N1:sched_serviceResponse" name="sched_serviceResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cancel_service">
      <WL5G3N0:input message="WL5G3N1:cancel_serviceRequest" name="cancel_serviceRequest"/>
      <WL5G3N0:output message="WL5G3N1:cancel_serviceResponse" name="cancel_serviceResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cust_followup_req">
      <WL5G3N0:input message="WL5G3N1:cust_followup_reqRequest" name="cust_followup_reqRequest"/>
      <WL5G3N0:output message="WL5G3N1:cust_followup_reqResponse" name="cust_followup_reqResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="create_email">
      <WL5G3N0:input message="WL5G3N1:create_emailRequest" name="create_emailRequest"/>
      <WL5G3N0:output message="WL5G3N1:create_emailResponse" name="create_emailResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="view_notes">
      <WL5G3N0:input message="WL5G3N1:view_notesRequest" name="view_notesRequest"/>
      <WL5G3N0:output message="WL5G3N1:view_notesResponse" name="view_notesResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="rtv_sched_appts">
      <WL5G3N0:input message="WL5G3N1:rtv_sched_apptsRequest" name="rtv_sched_apptsRequest"/>
      <WL5G3N0:output message="WL5G3N1:rtv_sched_apptsResponse" name="rtv_sched_apptsResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="sched_activity">
      <WL5G3N0:input message="WL5G3N1:sched_activityRequest" name="sched_activityRequest"/>
      <WL5G3N0:output message="WL5G3N1:sched_activityResponse" name="sched_activityResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ServiceServiceBinding" type="WL5G3N1:ServiceServicePortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="rtv_avail">
      <WL5G3N2:operation soapAction="rtv_avail"/>
      <WL5G3N0:input name="rtv_availRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="rtv_availResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="sched_service">
      <WL5G3N2:operation soapAction="sched_service"/>
      <WL5G3N0:input name="sched_serviceRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="sched_serviceResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cancel_service">
      <WL5G3N2:operation soapAction="cancel_service"/>
      <WL5G3N0:input name="cancel_serviceRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="cancel_serviceResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cust_followup_req">
      <WL5G3N2:operation soapAction="cust_followup_req"/>
      <WL5G3N0:input name="cust_followup_reqRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="cust_followup_reqResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="create_email">
      <WL5G3N2:operation soapAction="create_email"/>
      <WL5G3N0:input name="create_emailRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="create_emailResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="view_notes">
      <WL5G3N2:operation soapAction="view_notes"/>
      <WL5G3N0:input name="view_notesRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="view_notesResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="rtv_sched_appts">
      <WL5G3N2:operation soapAction="rtv_sched_appts"/>
      <WL5G3N0:input name="rtv_sched_apptsRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="rtv_sched_apptsResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="sched_activity">
      <WL5G3N2:operation soapAction="sched_activity"/>
      <WL5G3N0:input name="sched_activityRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="sched_activityResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ServiceServiceService">
    <WL5G3N0:port binding="WL5G3N1:ServiceServiceBinding" name="ServiceServicePort">
      <WL5G3N2:address location="https://nomad.svmint.com/cgi-bin/jsmdirect?dev_service"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>